@using ChoicesExtrasManagement.ViewModels;
@model IEnumerable<CatalogueViewModel>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var counter = 1;
}

<h3 id="plot-heading" class="inlineElement">Manage Extras Catalogue</h3>
<button type="button" class="btn btn-primary inlineElement floatRight" onclick="ModelOpen('AddExtra')">Add Extra</button>
<br />
<br />
<table id="table-extras">
    <thead>
        <tr>
            <th>No.</th>
            <th>Name</th>
            <th>Description</th>
            @*<th>Mapped to Rooms</th>*@
            <th>Sub Extras Count</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@counter</td>
                <td>@item.Name</td>
                <td>@item.Description</td>
                @*<td>@item.RoomMappingDetails</td>*@
                <td>@item.SubCatalogueItems.Count()</td>
                <td>
                    <a asp-controller="Admin" asp-action="ManageSubExtras" asp-route-id="@item.Id" type="button" class="btn btn-sm btn-outline-primary">View Sub Extras</a>
                </td>
            </tr>
            counter++;
        }
    </tbody>
</table>

<!-- Modal for Add Extra -->
<div class="modal fade" id="AddExtraModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="AddExtraModalTitle">Add Extra</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="ModelClose('AddExtra')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" id="extraNameInputElement" placeholder="Enter name">
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <input type="text" class="form-control" id="extraDescriptionInputElement" placeholder="Enter description">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="ModelClose('AddExtra')">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="AddExtra()">Save</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    function AddExtra() {
        var extraName = $('#extraNameInputElement').val();
        var extraDescription = $('#extraDescriptionInputElement').val();

        $.ajax({
            type: "POST",
            url: "AddExtra",
            data: {
                extraName: extraName,
                extraDescription: extraDescription,
            },
            success: function (result) {
                if (result == true) {
                    ModelClose('AddExtra');
                    window.location.href = "/Admin/ManageExtras";
                }
            }

        });
    }

    function ModelOpen(type) {
        $('#' + type + 'Modal').modal('show');
    }

    function ModelClose(type) {
        $('#' + type + 'Modal').modal('hide');
    }

    $(document).ready(function () {
        $('#table-extras').DataTable();
        SetMenuHighlight("admin-panel");

    });

</script>