@using ChoicesExtrasManagement.ViewModels;
@model IEnumerable<SubCatalogueViewModel>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var counter = 1;
}
<a asp-controller="Admin" asp-action="ManageExtras" type="button" class="btn btn-sm btn-outline-primary"> Back to All Extras</a>
<br />
<br />
<h3 id="plot-heading" class="inlineElement">Sub Extras for @ViewBag.extraName</h3>
<button type="button" class="btn btn-primary inlineElement floatRight" onclick="ModelOpen('AddSubExtra')">Add Sub Extra</button>
<br />
<br />
<table id="table-subextras">
    <thead>
        <tr>
            <th>No.</th>
            <th>Name</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@counter</td>
                <td>@item.Name</td>
                <td>@item.Price</td>
            </tr>
            counter++;
        }
    </tbody>
</table>

<!-- Modal for Add Sub Extra -->
<div class="modal fade" id="AddSubExtraModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="AddSubExtraModalTitle">Add Sub Extra</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="ModelClose('AddSubExtra')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" id="subExtraNameInputElement" placeholder="Enter name">
                </div>
                <div class="form-group">
                    <label>Price</label>
                    <input type="text" class="form-control" id="subExtraPriceInputElement" placeholder="Enter name">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="ModelClose('AddSubExtra')">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="AddSubExtra()">Save</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function ModelOpen(type) {
        $('#' + type + 'Modal').modal('show');
    }

    function ModelClose(type) {
        $('#' + type + 'Modal').modal('hide');
    }

    function AddSubExtra() {
        var subExtraName = $('#subExtraNameInputElement').val();
        var subExtraPrice = parseFloat($('#subExtraPriceInputElement').val());
        var extraId = parseInt(@ViewBag.extraId);

        $.ajax({
            type: "POST",
            url: '@Url.Action("AddSubExtra","Admin")',
            data: {
                extraId: extraId,
                subExtraName: subExtraName,
                subExtraPrice: subExtraPrice
            },
            success: function (result) {
                if (result == true) {
                    ModelClose('AddSubExtra');
                    window.location.href = "/Admin/ManageSubExtras/" + extraId;
                }
            }

        });
    }



    $(document).ready(function () {
        $('#table-subextras').DataTable();
    });

</script>